.detailSmsTransfer-content{
    width: 100%;
    color: #555555;
}

.detailSmsTransfer-content .transfer-detail {
    font-size: 1rem;

}
.smsTransfer-detail{
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    margin-right: 25px;
    line-height: 110%;
}

